<html>
    <head>
        <title>Il blog di Luca</title>
    </head>
    <body>
        <div>
            <h1><a href="">Il mio primo blog</a></h1>
        </div>


        <div>
            <p>published: 19.03.2016, 11.25</p>
            <h2><a href="">Il mio primo post</a></h2>
            <p>Questo è il mio primo post. Non so cosa scrivere ma se fosse un
            mio vero blog ci scriverei qualcosa su Jeeg.</p>
        </div>


        <div>
            <p>published: 19.03.2016, 11.30</p>
            <h2><a href="">Il mio secondo post</a></h2>
            <p>Fosse questo il mio secondo post, avrei già finito la roba da
            postare, probabilmente.</p>
        </div>
    </body>
</html>
